In [2]:
import pandas as pd
import json 

file = open('Categorized_Adversary_TTPs.json')

jsonfile = json.load(file)

df = pd.read_json('Categorized_Adversary_TTPs.json')
print(df.columns)

Index(['mitre_attack_id', 'mitre_attack_name', 'mitre_attack_aliases',
       'mitre_attack_created', 'mitre_attack_last_modified', 'mitre_url',
       'etda_id', 'etda_name', 'etda_aliases', 'etda_first_seen', 'etda_url',
       'country', 'motivation', 'victim_industries', 'victim_countries',
       'mitre_attack_ttps'],
      dtype='object')

## Functions to help access the data

In [55]:
def get_actor_ETDA(actor):
   return df.loc[df['etda_name'] == actor]

def get_actor_list_ETDA(actor_list):
   return df.loc[df['etda_name'].isin(actor_list)]

def to_1D(series):
 return pd.Series([x for _list in series for x in _list if len(x) > 1]) # Convert column of lists to one list and remove single character values

def get_industries():
    return to_1D(df['victim_industries']).value_counts().index.to_list()

In [56]:
get_actor_ETDA('APT 29, Cozy Bear, The Dukes')

,mitre_attack_id,mitre_attack_name,mitre_attack_aliases,mitre_attack_created,mitre_attack_last_modified,mitre_url,etda_id,etda_name,etda_aliases,etda_first_seen,etda_url,country,motivation,victim_industries,victim_countries,mitre_attack_ttps
8,intrusion-set--899ce53f-13a0-479b-a0e4-67d46e2...,APT29,"[APT29, IRON RITUAL, IRON HEMLOCK, NobleBaron,...",2017-05-31,2022-07-11,https://attack.mitre.org/groups/G0016,93ba9804-335e-4782-855d-40af22b93201,"APT 29, Cozy Bear, The Dukes","[APT 29, Cozy Bear, The Dukes, Group 100, Yttr...",2008,https://apt.etda.or.th/cgi-bin/showcard.cgi?u=...,RU,[Information theft and espionage],"[Aerospace, Defense, Education, Energy, Financ...","[Australia, Azerbaijan, Belarus, Belgium, Braz...","[T1078.004, T1001.002, T1087, T1562.004, T1560..."
31,intrusion-set--dc5e2999-ca1a-47d4-8d12-a6984b1...,UNC2452,"[UNC2452, NOBELIUM, StellarParticle, Dark Halo]",2021-01-05,2021-05-04,https://attack.mitre.org/groups/G0118,93ba9804-335e-4782-855d-40af22b93201,"APT 29, Cozy Bear, The Dukes","[APT 29, Cozy Bear, The Dukes, Group 100, Yttr...",2008,https://apt.etda.or.th/cgi-bin/showcard.cgi?u=...,RU,[Information theft and espionage],"[Aerospace, Defense, Education, Energy, Financ...","[Australia, Azerbaijan, Belarus, Belgium, Braz...","[T1027, T1606.001, T1218.011, T1546.003, T1021..."

# Statistics

In [28]:
industries = get_industries()
print("Number of actors in data:",len(df))
print("Number of industries in data:",len(get_industries()))

print('Number of actors per industry:')
to_1D(df['victim_industries']).value_counts()

Number of actors in data: 134
Number of industries in data: 41
Number of actors per industry:

Government                     87
Defense                        61
Financial                      50
Telecommunications             44
Energy                         43
Media                          37
Education                      35
Healthcare                     32
High-Tech                      30
Manufacturing                  26
Aerospace                      17
IT                             16
Oil and gas                    16
Transportation                 16
Aviation                       15
Technology                     14
NGOs                           14
Pharmaceutical                 14
Engineering                    13
Hospitality                    13
Think Tanks                    11
Embassies                      10
Chemical                        9
Retail                          9
Construction                    8
Research                        7
Industrial                      5
Shipping and Logistics          5
Mining                          5
Utilities                       5
Food and Agriculture            5
Automotive                      4
Law enforcement                 4
Critical infrastructure         4
Entertainment                   3
Petrochemical                   3
Casinos and Gambling            3
Gaming                          3
Satellites                      3
Online video game companies     2
Non-profit organizations        1
dtype: int64